<!-- ######################## CZĘŚĆ Template Driven Forms ######################## -->

<!-- ############ recipe-template-form.component.html - krok 4 ############ -->

@if (showForm) {
<div>
    <!-- Nagłówek który wykorzystuje Conditional (ternary) operator do wyświetlania odpowiedniego tekstu-->
    <h2>{{ isEditMode ? 'Edytuj przepis' : 'Dodaj nowy przepis' }}</h2>

    <!-- znacznik (tag) form z dołączoną template variable i przypisaną ngForm, dzięki tego zostanie stworzona nadrzędna instancja grupy kontrolek formularza-->
    <!-- jest też dorzucona obsługa mechanizmu potwierdzania formularza -->
    <!-- Na końcu widzimy artybut novalidate, Angular w ten sposób wyłącza defaultową, natywną walidacje formularza pochodzącą z natywneg formularza HTML ... -->
    <form #recipeForm="ngForm" (ngSubmit)="onSubmit(recipeForm)" novalidate>
        <!-- Tytuł -->
        <div>
            <!-- tytuł inputa, dyrektywa for oraz nam służy do połączenia taga label z tagiem input -->
            <label for="title">Tytuł przepisu:</label>
            <!-- type określa typ danych które będą wprowadzane do inputa -->
            <!-- required oraz minlength to walidatory natywnie zdefiniowane w formularzu HTML, które dorzycają mechanizm walidacji pod kątem wymagalności i długości wprowadonych danych -->
            <!-- #title to template variable, przypisujemy do niej ngModel, dzięki temu zostanie stworzona instancja kontrolki formularza Angular - FormControl -->
            <input type="text" name="title" ngModel required
                minlength="3" #title="ngModel" />
            <!-- Poniższy kontener to ta treść którą zobaczymy gdy kontrolka będzie błędna oraz już dotknięta przez użytkownika -->
            @if (title.invalid && title.touched) {
            <div>
                <!-- Tę treść zobaczymy gdy użytkownik dotknie kontrolki ale nie wprowadzi żadnych danych, lub gdy usunie wszystko co zawierała kontrolka i zostawi puste - wymagane (required) -->
                @if (title.errors?.required) {
                <small>Tytuł jest wymagany</small>
                }
                <!-- Tę treść zobaczymy gdy użytkonik wprowadzi tekst ktrótszy niż wymagany (3 znaki) -->
                @if (title.errors?.minlength) {
                <small>Tytuł musi mieć co najmniej 3 znaki</small>
                }
            </div>
            }
        </div>

        <!-- Opis -->
        <div>
            <label for="description">Opis przepisu:</label>
            <textarea name="description" ngModel></textarea>
        </div>

        <!-- Składniki -->
        <div>
            <label for="ingredients">Składniki (minimum 2):</label>
            <input type="text" name="ingredients" ngModel
                required #ingredients="ngModel" />
            @if (ingredients.invalid && ingredients.touched) {
            @if (ingredients.errors?.required) {
            <small>Składniki są wymagane</small>
            }
            }
        </div>

        <!-- Przycisk wysyłający -->
        <button type="submit" [disabled]="recipeForm.invalid">
            {{ isEditMode ? 'Zapisz zmiany' : 'Dodaj przepis' }}
        </button>
    </form>
</div>
}

<!-- ############ ############ -->
<!-- ######################## ######################## -->

<!-- ######################## CZĘŚĆ Reactive Forms ######################## -->

<!-- ############ recipe-reactive-form.component.html - krok 4 ############ -->

@if (showForm) {
<div>
    <h2>{{ isEditMode ? 'Edytuj przepis' : 'Dodaj nowy przepis' }}</h2>

    <form [formGroup]="recipeFormGroup" (ngSubmit)="onSubmit()" novalidate>
        <!-- Tytuł -->
        <div>
            <label for="title">Tytuł przepisu:</label>
            <input type="text" formControlName="title" />
            @if (recipeFormGroup.get('title')?.invalid &&
            recipeFormGroup.get('title')?.touched) {
            @if (recipeFormGroup.get('title')?.errors?.required) {
            <small>Tytuł jest wymagany</small>
            }
            @if (recipeFormGroup.get('title')?.errors?.minlength) {
            <small>Tytuł musi mieć co najmniej 3 znaki</small>
            }
            }
        </div>

        <!-- Składniki -->
        <div>
            <label for="ingredients">Składniki (minimum 2):</label>
            <input type="text" formControlName="ingredients" />
            @if (recipeFormGroup.get('ingredients')?.invalid &&
            recipeFormGroup.get('ingredients')?.touched) {
            @if (recipeFormGroup.get('ingredients')?.errors?.required) {
            <small>Składniki są wymagane</small>
            }
            }
        </div>

        <button type="submit" [disabled]="recipeFormGroup.invalid">
            {{ isEditMode ? 'Zapisz zmiany' : 'Dodaj przepis' }}
        </button>
    </form>
</div>
}

<!-- ############ ############ -->
<!-- ######################## ######################## -->

<!-- ######################## CZĘŚĆ Angular Material ######################## -->

<!-- ############ recipe-reactive-form.component.html - krok 2 ############ -->

@if (showForm) {
<div>
    <h2>{{ isEditMode ? 'Edytuj przepis' : 'Dodaj nowy przepis' }}</h2>

    <form [formGroup]="recipeFormGroup" (ngSubmit)="onSubmit()"
        class="reactive-form" novalidate>
        <!-- Tytuł -->
        <div>
            <mat-form-field class="form-control-full-width">
                <mat-label>Tytuł przepisu</mat-label>
                <input matInput type="text" formControlName="title" />
                @if (recipeFormGroup.get('title')?.hasError('required'))
                <mat-error>
                    Tytuł jest wymagany
                </mat-error>
                }
                @if (recipeFormGroup.get('title')?.hasError('minlength'))
                <mat-error>
                    Tytuł musi mieć co najmniej 3 znaki
                </mat-error>
            </mat-form-field>
        </div>

        <!-- Opis -->
        <div>
            <mat-form-field class="form-control-full-width">
                <mat-label>Opis: </mat-label>
                <textarea matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5" type="text"
                    formControlName="description"></textarea>
                @if (recipeFormGroup.get('description')?.errors?.required) {
                <mat-error>Składniki
                    są wymagane
                </mat-error>
                }
            </mat-form-field>
        </div>

        <!-- Składniki -->
        <div>
            <mat-form-field class="form-control-full-width">
                <mat-label>Składniki (minimum 2):</mat-label>
                <textarea matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5" type="text"
                    formControlName="ingredients"></textarea>
                @if (recipeFormGroup.get('ingredients')?.errors?.required) {
                <mat-error>
                    Składniki są wymagane
                </mat-error>
                }
            </mat-form-field>
        </div>

        <!-- Poziom trudności -->
        <div>
            <mat-form-field class="form-control-full-width">
                <mat-label>Poziom trudności wykonania :</mat-label>
                <select matNativeControl required formControlName="difficulty">
                    <option value="hard">hard</option>
                    <option value="medium">medium</option>
                    <option value="easy">easy</option>
                </select>
            </mat-form-field>
        </div>

        <!-- Czas przygotowania -->
        <div>
            <mat-form-field class="form-control-full-width">
                <mat-label>Czas wykonania (w minutach):</mat-label>
                <input matInput type="text"
                    formControlName="preparationTime" />
                @if (recipeFormGroup.get('preparationTime')?.errors?.required) {
                <mat-error>
                    Czas wykonania jest wymagany
                </mat-error>
                }
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary" type="submit"
            [disabled]="recipeFormGroup.invalid">
            {{ isEditMode ? 'Zapisz zmiany' : 'Dodaj przepis' }}
        </button>
    </form>
</div>
}

<!-- ######################## ######################## -->
<!-- ############ ############ -->