<!-- ######################### recipe-detail.component.html - krok 5 ######################### -->

<section class="container">
    @if (!selectedRecipe) {
    <div>
        <p>Wybierz przepis z listy, aby zobaczyć szczegóły.</p>
    </div>
    }

    @if (selectedRecipe) {
    <div class="container--selected">
        <h2>{{ selectedRecipe.title }}</h2>
        <p>{{ selectedRecipe.description }}</p>
    </div>
    }
</section>

<!-- ######################### ######################### -->

<!-- ######################### recipe-list.component.html - krok 6 ######################### -->

<h2 class="header">Lista Przepisów</h2>
<ul>
    @for (recipe of recipes; track recipe) {
    <li (click)="onRecipeClick(recipe)">
        <h3>{{ recipe.title }}</h3>
        <p>{{ recipe.description }}</p>
    </li>
    }
</ul>

<!-- ######################### ######################### -->

<!-- ######################### app.component.html - krok 6 ######################### -->

<app-recipe-list (recipeSelected)="onRecipeSelected($event)"></app-recipe-list>
<app-recipe-detail [selectedRecipe]="selectedRecipe"></app-recipe-detail>

<!-- ######################### ######################### -->