<mat-card class="form-card">
  <mat-card-title>{{ recipe.title ? 'Edytuj Przepis' :
  'Dodaj Nowy Przepis' }}</mat-card-title>
  <form #recipeForm="ngForm" (ngSubmit)="onSubmit(recipeForm)"
    novalidate>
    <!-- Tytuł -->
    <mat-form-field>
      <mat-label for="title">Tytuł przepisu</mat-label>
      <input matInput type="text" name="title"
        [(ngModel)]="recipe.title"
        required
        minlength="3" #title="ngModel" />
        @if (title.invalid && title.touched) {
          <div>
            @if (title.errors?.required) {
              <mat-error
                >
                Tytuł jest wymagany
              </mat-error>
            }
            @if (title.errors?.minlength) {
              <mat-error
                >
                Tytuł musi mieć co najmniej 3 znaki
              </mat-error>
            }
          </div>
        }
      </mat-form-field>

      <!-- Opis -->
      <mat-form-field>
        <mat-label for="description">Opis: </mat-label>
        <textarea matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5" type="text"
          name="description"
        [(ngModel)]="recipe.description"></textarea>
      </mat-form-field>

      <!-- Składniki -->
      <mat-form-field>
        <mat-label for="ingredients">Składniki (minimum 2):</mat-label>
        <mat-select type="text" name="ingredients"
          [(ngModel)]="recipe.ingredients"
          required #ingredients="ngModel" multiple>
          @for (popularIngredient of popularIngredients; track
            popularIngredient) {
            <mat-option
            [value]="popularIngredient">{{popularIngredient}}</mat-option>
          }</mat-select>
          @if (ingredients.errors?.required) {
            <mat-error
              >Składniki
              są wymagane
            </mat-error>
          }
        </mat-form-field>

        <!-- Poziom trudności -->
        <mat-form-field>
          <mat-label for="difficulty">Poziom trudności wykonania
          :</mat-label>
          <select matNativeControl [(ngModel)]="recipe.difficulty"
            required
            name="difficulty" #difficulty="ngModel">
            <option value="hard">hard</option>
            <option value="medium">medium</option>
            <option value="easy">easy</option>
          </select>
          @if (difficulty.invalid && difficulty.touched) {
            <div>
              @if (difficulty.errors?.required) {
                <small>Poziom trudności
                wykonania jest wymagany</small>
              }
            </div>
          }
        </mat-form-field>

        <!-- Czas przygotowania -->
        <mat-form-field>
          <mat-label for="preparationTime">Czas wykonania (w
          minutach):</mat-label>
          <input matInput type="text"
            name="preparationTime"
            [(ngModel)]="recipe.preparationTime"
            required #preparationTime="ngModel" />
            @if (preparationTime.invalid && preparationTime.touched) {
              <div>
                @if (preparationTime.errors?.required) {
                  <mat-error
                    >Czas
                    wykonania jest wymagany
                  </mat-error>
                }
              </div>
            }

          </mat-form-field>

          <!-- Przycisk wysyłający -->
          <button mat-raised-button color="primary" type="submit"
          [disabled]="recipeForm.invalid">Zapisz</button>
          <button mat-button color="warn" type="button"
          routerLink="/recipes">Anuluj</button>
        </form>
      </mat-card>
